<!-- <a-scene cursor="rayOrigin: mouse" raycaster="objects: .intersectable; showLine: false;"> -->

<!--   <!-1- <a-assets> -1-> -->
<!--   <!-1-   <a-asset-item id="test" src="assets/models/test.gltf"></a-asset-item> -1-> -->
<!--   <!-1- </a-assets> -1-> -->

<!--   <!-1- <a-entity class="intersectable" dragrable gltf-model="#test" position="0 0.25 0" scale="0.2 0.2 0.2"></a-entity> -1-> -->

<!--   <!-1- <a-sphere class="intersectable" dragrable position="0 1.25 -1" radius="1.25" color="#EF2D5E"></a-sphere> -1-> -->
<!--   <!-1- <a-box class="intersectable" dragrable position="-1 0.5 1" rotation="0 45 0" width="1" height="1" depth="1"  color="#4CC3D9"></a-box> -1-> -->
<!--   <!-1- <a-cylinder class="intersectable" dragrable position="1 0.75 1" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder> -1-> -->
<!--   <a-plane rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane> -->

<!--   <a-sky color="#ECECEC"></a-sky> -->

<!--   <a-entity position="0 0 3.8"> -->
<!--     <a-camera look-controls-enabled="true" movement-controls="fly: true" keyboard-controls="mode: fps"></a-camera> -->
<!--     <a-entity laser-controls="hand: left" oculus-touch-controls=""></a-entity> -->
<!--     <a-entity oculus-go-controls="" x-button-listener=""></a-entity> -->
<!--     <a-entity laser-controls="hand: right" oculus-touch-controls=""></a-entity> -->
<!--   </a-entity> -->

<!-- </a-scene> -->


<a-scene cursor="rayOrigin: mouse" raycaster="objects: .intersectable; showLine: false;">

  <a-assets>
    <a-asset-item id="test" src="assets/models/village/scene.gltf"></a-asset-item>
    <a-asset-item id="sergio" src="assets/models/sergio/sergio.glb"></a-asset-item>
  </a-assets>

  <a-entity gltf-model="#test" position="0 0 -10" scale="3 3 3"></a-entity>
  <a-entity class="intersectable" rotable gltf-model="#sergio" position="-1 1 -3" scale="1 1 1"></a-entity>

  <a-box class="intersectable" dragrable position="-1 0 -3" rotation="0 45 0" width="0.3" height="0.3" depth="0.3"  color="#EF2D5E"></a-box>
  <a-sphere class="intersectable" dragrable position="0 0 -5" radius="0.25" color="#4CC3D9" shadow></a-sphere>
  <a-cylinder class="intersectable" dragrable position="1 0 -3" radius="0.2" height="0.5" color="#FFC65D" shadow></a-cylinder>
  <!-- <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" shadow></a-plane> -->
  <a-sky color="#ECECEC"></a-sky>

  <!-- <a-entity movement-controls="fly: true" position="0 0 0"> -->
  <!--   <a-entity camera position="0 1.6 0"></a-entity> -->
  <!--   <a-entity oculus-go-controls="" x-button-listener=""></a-entity> -->
  <!-- </a-entity> -->


  <a-entity movement-controls="fly: false" position="0 0 3.8">

    <a-camera look-controls-enabled="true" keyboard-controls="mode: fps"></a-camera>

    <a-entity laser-controls="hand: left" oculus-touch-controls=""></a-entity>
    <a-entity oculus-go-controls="" x-button-listener=""></a-entity>
    <a-entity laser-controls="hand: right" oculus-touch-controls=""></a-entity>

  </a-entity>


</a-scene>
